body {
    background-color: hsl(0, 0%, 98%) ;
   /* width: 1140px;*/
}

.attraction {
    text-align: center;
}
.god {
    margin-top: 0%;
     margin-left: 38%;
     border: 2mm solid white;
     position: absolute;
     border-top: 1mm solid hsl(0, 78%, 62%) ;
     background-color: #fff;
     ;
}
.calculator {
    float: right;
    font-weight: 200;
    margin-right: 30%;
    position: absolute;
    top: 45%;
    margin-left: 61.9%;
    border: 2mm solid white;
    padding-bottom: -0px;
    background-color: white;
    border-top: 1mm solid hsl(0, 78%, 62%) ;
}
#cal {
    margin-left: 15%;
    margin-bottom: -35%;
    padding-top: 5%;
}
.goat {
     position: absolute;
     margin-left: 38%;
     bottom: 80px;
     border: 2mm solid white ;
     background-color: white;
     border-top: 1mm solid hsl(0, 78%, 62%);
}
#father {
    margin-left: 70%;
    padding-top: 5%;
    margin-bottom: -30%;
}
#cal {
    margin-left: 70%;
    padding-top: 10%;
}
.super {
    margin-left: 14.5%;
    position: absolute;
    top: 45%;
    border: 2mm solid white;
    border-top:1mm solid hsl(0, 78%, 62%) ;
    background-color: white;
}
#visor {
    margin-left: 59%;
    margin-bottom: -30%;
    padding-top: 5%;
}
#builder {
    margin-left: 60%;
    padding-bottom: 0px;
    padding-top: 5%;
    margin-bottom: -40%;
}
#ohh2 {
    color: hsl(229, 6%, 66%);
    font-style: normal;
    font-size: 40px;
}
#ohh {
    font-size: 42px;
    color: hsl(234, 12%, 34%) ;
}
#ohh3 {
    color:hsl(229, 6%, 66%) ;
}